<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.gasproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.admin.PublishNotify" />
        <activity android:name=".activity.UserDetailActivity" />
        <activity android:name=".activity.admin.ConfigActivity" />
        <activity android:name=".activity.NotifyDetailActivity" />
        <activity android:name=".activity.admin.AdminActivity" />
        <activity android:name=".activity.InstallActivity" />
        <activity android:name=".activity.InvestHistoryActivity" />
        <activity android:name=".activity.InvestActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ChangePwdActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.PersonalDataActivity" />
        <activity android:name=".activity.admin.AdminNotifyActivity"/>
        <activity android:name=".activity.admin.UserAdminActivity"/>
        <activity android:name=".activity.InstallAdminActivity"/>
        <activity android:name=".activity.NotifyActivity"/>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>